body {
  margin-top: 30px;
  scroll-behavior: smooth;
}

.text{
  font-size: 18px;
}

.hire_btn{
  padding: 8px 30px;
  border: 1px solid purple; 
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
.hire_btn:hover{
  opacity: .8;
}

.portfolio_btn{
  padding: 8px 40px;
  border: 1px solid purple;
  color: purple;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 10px;
}
.portfolio_btn:hover{
  background-color: purple;
  color: white;
}

.read_btn{
  padding: 6px 20px;
  border: 1px solid purple;
  background-color: purple;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s;
}
.read_btn:hover{
  opacity: .8;
}

.linkedin{
  text-decoration: none;
}

.title{
  color: purple;
  font-size: 22px;
  font-weight: 600;
}

